.n8n-chat-widget-window {
    width: 200px !important;

    height: 300px !important;

    max-height: 80vh !important;
    border-radius: 16px !important;

    overflow: hidden !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2) !important;
}


.n8n-chat-widget-header {
    display: none !important;
}


.n8n-chat-widget-toggle-button {
    background-color: #8233ff !important;
    width: 50px !important;
    height: 50px !important;
    bottom: 30px !important;
    right: 30px !important;
}